<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKMOC;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg=="/>-->
    <!--<add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TK;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg=="/>-->
    <add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKMOC;uid=UGu2uwcwHt/N98rW7MaXVQ==;pwd=gVcCITHRExf3RGf+qJ0M0Q=="/>
    <add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TK;uid=UGu2uwcwHt/N98rW7MaXVQ==;pwd=gVcCITHRExf3RGf+qJ0M0Q=="/>
    
    <add name="dbUOF" providerName="System.Data.SqlClient" connectionString="server=192.168.1.223;database=UOF;uid=VvM7eHgGf7TGQRudVuJwCA==;pwd=qtMgV07lYaqWBDsTuIjnEp7JVUlPAGZ5S0xHT5xQpgA="/>
    
  </connectionStrings>
</configuration>